<div id="printForm" class="error">
    {% if error == "rate_limited" %}
    <p>
        Please wait {{ minutes_until_retry }} more minutes or you'll break my
        printer.
    </p>
    {% elif error == "invalid_token" %}
    <p>Invalid friendship token provided, you are not a friend.</p>
    {% elif error == "invalid_request" %}
    <p>Invalid request, stop trying to hack my server you scallywag.</p>
    {% elif error == "queue_full" %}
    <p>The queue is currently full. This should not be possible.</p>
    {% elif error == "message_too_long" %}
    <p>Your message is too long. Please keep it under {{ message_max_length }} characters.</p>
    {% elif error == "image_too_large" %}
    <p>Your image is too large. Please keep it under {{ "%.1f"|format(image_max_size / 1048576) }} MB.</p>
    {% elif error == "database_error" %}
    <p>
        A database error occurred, please
        <a href="mailto:tomas@slama.dev">shoot me an email</a>.
    </p>
    {% else %}
    <p>
        Unexpected failure, please
        <a href="mailto:tomas@slama.dev">shoot me an email</a>.
    </p>
    {% endif %}
</div>
<div id="backButton">
    <a href="javascript:location.reload()">Back</a>
</div>
